body {
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
}
h1, h2 {
	color: #333;
	text-align: center;
}
.sortable-list {
	list-style: none;
	padding: 0;
	margin: 0 auto;
}
.sortable-list li {
	padding: 10px;
	border-bottom: 1px solid #ccc;
}
.sortable-list li:last-child {
	border-bottom: none;
}
.button {
	background-color: #4CAF50;
	color: #fff;
	padding: 5px 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
.button:hover {
	background-color: #3e8e41;
}
header {
background-color: #333;
color: #fff;
padding: 10px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
  }
  
  nav ul li {
	display: inline-block;
	margin-right: 10px;
  }
  
  nav ul li:last-child {
	margin-right: 0;
  }
  
  .nav-button {
	background-color: #4CAF50;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 5px 10px;
	font-size: 16px;
	cursor: pointer;
	text-decoration: none;
  }
  
  .nav-button:hover {
	background-color: #3e8e41;
  }
  
  .nav-button:active {
	background-color: #2e6c34;
	transform: translateY(2px);
  }
  

form {
	width: 50%;
	margin: 40px auto;
	background-color: #fff;
	padding: 20px;
	border: 1px solid #ddd;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label {
	display: block;
	margin-bottom: 10px;
}
input[type="text"], input[type="password"] {
	width: 100%;
	height: 40px;
	margin-bottom: 20px;
	padding: 10px;
	border: 1px solid #ccc;
}
input[type="submit"] {
	width: 100%;
	height: 40px;
	background-color: #4CAF50;
	color: #fff;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}