<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
    <h1>Login Page</h1>

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <label for="username">Username:</label>
        {{ form.username }}
        <br>
        <label for="password">Password:</label>
        {{ form.password }}
        <br>
        <input type="submit" value="Login">
    </form>
    <form action="{{ url_for('register') }}" method="get">
        <input type="submit" value="Don't have an account? Sign up" class="button">
    </form>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
</body>
</html>