<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>

    <header>
        <nav>
            <ul>
                <form action="{{ url_for('home') }}" method="get">
                    <input type="submit" value="Home" class="button">
                </form>
            </ul>
            <form action="{{ url_for('logout') }}" method="get">
                <input type="submit" value="Logout" class="button">
            </form>
        </nav>
    </header>
    <main>
    <h1>Upload File</h1>


    <form action="{{ url_for('merge') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload" class="button">
    </form>
    <h2>Folder Contents</h2>
    <div class="sortable-list">
        <ul id="sortable">
            {% for file in folder_contents %}
                <li draggable="true" id="item_{{file}}">{{ file }}</li>
            {% endfor %}
        </ul>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    <form action="{{ url_for('clear_folder') }}" method="post">
        <input type="submit" value="Clear Folder" class="button">
    </form>

    <form action="{{ url_for('run_script') }}" method="post">
        <input type="submit" value="Run Script" class="button">
    </form>

    <h2>Download Contents</h2>
    <ul>
        {% for file in download_contents %}
        <li>
            {{ file }}
            <a href="{{ url_for('download_file', filename=file) }}">Download</a>
        </li>
        {% endfor %}
    </ul>

</main>

</body>
</html>