<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Upload File</h1>
    <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>
    <h2>Folder Contents</h2>
    <ul>
        {% for file in folder_contents %}
        <li>{{ file }}</li>
        {% endfor %}
    </ul>

    <form action="{{ url_for('clear_folder') }}" method="post">
        <input type="submit" value="Clear Folder">
    </form>

    <form action="{{ url_for('run_script') }}" method="post">
        <input type="submit" value="Run Script">
    </form>

    <h2>Download Contents</h2>
    <ul>
        {% for file in download_contents %}
        <li>
            {{ file }}
            <a href="{{ url_for('download_file', filename=file) }}">Download</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>